.root {
    cherry: #E02229;
    cherry2: #F04249;
    cream: #F5F5F5;
    cream2: #E5E5E5;
    cream3: #D5D5D5;
    slate: #090909;
    slate2: #1C1C1C;
    slate3: #2F2F2F;
    -fx-background-color: slate;
    -fx-text-fill: cream;
    -fx-font-size: 14;

    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

* {
    -fx-text-fill: inherit;
}

.button {
    -fx-background-color: cherry;
    -fx-text-fill: cream2;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.button:hover {
    -fx-background-color: cherry2;
    -fx-text-fill: cream;
}

.label {
    -fx-background-radius: 15%;
    -fx-text-fill: cream;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-border-radius: 15%;
}