.root {
    cherry: #cf0007;
    cherry2: #fc5459;
    cream: #F5F5F5;
    cream2: #E5E5E5;
    cream3: #D5D5D5;
    slate: #090909;
    slate2: #1C1C1C;
    slate3: #2F2F2F;
    -fx-background-color: slate;
    -fx-text-fill: cream;
    -fx-font-size: 14;

    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-padding: 10px;
}

* {
    -fx-text-fill: inherit;
}

.button {
    -fx-background-color: cherry;
    -fx-text-fill: cream;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-background-insets: 5px;
}

.button:hover {
    -fx-background-color: cherry2;
}

.label {
    -fx-text-fill: cream;
    -fx-font-size: 14;
    -fx-padding: 2px;
}

.label.header {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 10px 0 0 5px;
}

.text-field {
    -fx-background-color: slate2;
    -fx-text-fill: cream;
    -fx-prompt-text-fill: cream3;
    -fx-font-size: 14;
}

.separator {
    -fx-background-color: cream;
}

.label.order-item-type {
    -fx-font-weight: bold;
}

.calendar-grid>* {
    -fx-text-fill: slate;
}

.text-field,
.password-field,
.date-picker,
.date-picker-popup,
.date-picker-popup>.month-year-pane {
    -fx-background-color: slate2;
    -fx-text-fill: cream;
    -fx-prompt-text-fill: cream3;
    -fx-font-size: 14;
}

#inactiveButton {
    -fx-background-color: slate2;
    -fx-text-fill: cream2;
}

#viewBox {
    -fx-background-color: slate2;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

#viewBox .label {
    -fx-font-size: 16;
}

#viewBox {
    -fx-background-color: black;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

#errorText {
    -fx-text-fill: cherry;
    -fx-font-weight: bold;
}

#errorPane {
    -fx-background-color: slate2;
}

#textArea {
    -fx-background-color: cherry;
    -fx-control-inner-background: cherry;
}

/* Table-related styles */
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: slate3;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-text-fill: cream;
}

.table-row-cell:odd {
    -fx-background-color: slate;
}

.table-row-cell:even {
    -fx-background-color: slate2;
}

.table-row-cell:hover {
    -fx-background-color: slate3;
    -fx-text-fill: cream;
}

.table-row-cell:selected {
    -fx-background-color: cherry;
    -fx-text-fill: cream;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: slate2;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: slate3;
}