.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: slate3;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell: hover {
    -fx-background-color: slate3;
    -fx-text-fill: cream;
}

.table-row-cell: odd {
    -fx-background-color: slate;
}

.table-row-cell: even {
    -fx-background-color: slate2;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: slate2;
    -fx-text-fill: cream;
    -fx-prompt-text-fill: cream3;
    -fx-font-size: 14;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: slate3;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-background-color: slate2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: slate;
}

#headerButton,
#headerButton2 {
    -fx-margin: 0;
    -fx-border-radius: 0;
}

#header {
    -fx-padding: 0;
}